{% extends "main.html" %}
{% block content %}
<a href="{{url_for('showCatalog')}}" class="flat-button">
	<i class="mdi mdi-arrow-left"></i>
	<span class="back-label">Cancel</span>
</a>
<h1 id="heading">Item Catalog</h1>
<div class='flash error'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<form method="POST" action= "{{url_for('addCategory')}}" method = 'POST'>
	<label for="name" class="label">Category</label>
	<input type="text" id="name" name="name" />
	<input type="submit" value="Add Category" class="button" />
</form>
{% endblock %}
