{% extends "main.html" %}
{% block content %}
<h1 id="heading">Item Catalog</h1>
<div class='flash error'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<ul>
	{% if categories %}
		{% for category in categories %}
			<li>
				<a href="{{url_for('showCategory', category_id = category.id)}}">{{category.name}}</a>
			</li>
		{% endfor %}
	{% else %}
		<span>There are no categories.</span>
	{% endif %}
</ul>
<a href="{{url_for('addCategory')}}" class="floating-button">
	<i class="mdi mdi-plus"></i>
</a>
{% endblock %}
