{% extends "main.html" %}
{% block content %}
<a href="{{url_for('showCatalog')}}" class="flat-button">
	<i class="mdi mdi-arrow-left"></i>
	<span class="back-label">Catalog</span>
</a>
<h1 id="heading">{{category.name}}</h1>
<div id="toolbar">
	<a href="{{url_for('editCategory', category_id=category.id)}}">
		<i class="mdi mdi-pencil"></i>
	</a>
	<a href="{{url_for('deleteCategory', category_id=category.id)}}">
		<i class="mdi mdi-delete"></i>
	</a>
</div>
<div class='flash error'>
	{% with messages = get_flashed_messages() %}
     	{% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<ul>
	{% if items %}
		{% for item in items %}
			<li>
				<a href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}">{{item.name}}</a>
			</li>
		{% endfor %}
	{% else %}
		<span class="no-info">There are no items.</span>
	{% endif %}
</ul>
<a href="{{url_for('addItem', category_id=category.id)}}" class="floating-button">
	<i class="mdi mdi-plus"></i>
</a>
{% endblock %}
