{% extends "main.html" %}
{% block content %}
<a href="{{url_for('showItem', category_id = category.id, item_id = item.id)}}" class="flat-button">
	<i class="mdi mdi-arrow-left"></i>
	<span class="back-label">{{category.name}}</span>
</a>
<h1 id="heading">{{category.name}}</h1>
<div class='flash error'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<form method="POST" action= "{{url_for('editItem', category_id = category.id, item_id = item.id)}}">
	<label for="name">Item</label>
	<input type="text" id="name" name="name" value="{{item.name}}" />
	<label for="description">Description</label>
	<input type="text" id="description" name="description" value="{{item.description}}" />
	<label for="long_description">Long Description</label>
	<textarea id="long_description" rows="4" name="long_description" value="{{item.long_description}}"></textarea>
	<input type="submit" value="Update Item" class="button" />
</form>
{% endblock %}
