{% extends "main.html" %}
{% block content %}
<a href="{{url_for('showCategory', category_id=category.id)}}" class="flat-button">
	<i class="mdi mdi-arrow-left"></i>
	<span class="back-label">{{category.name}}</span>
</a>
<h1 id="heading">{{item.name}}</h1>
<div id="toolbar">
	<a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">
		<i class="mdi mdi-pencil"></i>
	</a>
	<a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}">
		<i class="mdi mdi-delete"></i>
	</a>
</div>
<div class='flash error'>
	{% with messages = get_flashed_messages() %}
     	{% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="form">
	<p class="category">Category: {{category.name}}</p>
	<p>{{item.description}}</p>
	<br>
	<p>{{item.long_description}}</p>
</div>
{% endblock %}
