<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='login.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='materialdesignicons.min.css') }}">
	</head>
	<body>
		<div id="result" class="container">
			<a href="{{url_for('showCatalog')}}" class="flat-button">
				<i class="mdi mdi-arrow-left"></i>
				<span class="back-label">Catalog</span>
			</a>
			<h1 id="heading">Item Catalog</h1>
			<div id="logout-info">
				<p>Log out {{username}}?</p>
				<button id="gLogoutButton" class="button login-button">Logout</button>
			</div>
			<span id="message"></span>
		</div>
	</body>
</html>